@use "../variables" as *;
@use "../mixins" as *;

.services {
  margin-top: 40px;

  &__line {
    margin: 40px auto 60px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 70px;
    row-gap: 100px;
  }

  &__grid-element {
    @include flex(row, 20px, flex-start);
  }
}

.element {
  &__icon {
    width: 30px;
    height: 30px;
  }

  &__heading {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__paragraph {
    font-family: $third-font;
    font-size: 15px;
    color: $gray-color;
  }
}

@media (width <= 960px) {
  .services__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 610px) {
  .services {
    &__grid {
      grid-template-columns: 1fr;
      row-gap: 50px;
    }

    &__grid-element {
      @include flex(column, 20px, center, center);
      text-align: center;
    }
  }
}
